<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" ></link>
    <title>Sklep Internetowy</title>
</head>
<body>
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1 th:text="${greeting}"></h1>
                <p th:text="${tagline}"></p>
            </div>
        </div>
    </section>
    <a href="/products" class="btn btn-success">
        <span class="glyphicon-circle-arrow-left glyphicon"></span>
        Lista produktów
    </a>
    <a href="/add" class="btn btn-success">
        <span class="glyphicon-circle-arrow-left glyphicon"></span>
        Dodaj produkt
    </a>
</body>
</html>